body {
  padding-top: 50px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    text-decoration: underline;
}

.ui-tooltip, .qtip {
  max-width: 400px;
}

.itemtooltip {
  text-decoration-color: #636363;
  -moz-text-decoration-color: #636363; /* Code for Firefox */
}


.itemtooltip a {
  color: #660;
}

.itemtooltip:hover {
  text-decoration: none;
}

a.itemtooltip:focus {
  text-decoration: none;
}

a.itemtooltip[href]:hover {
  text-decoration: underline;
}

a.itemtooltip[href]:focus {
  text-decoration: underline;
}

.itemdescription {
  min-width: 20em;
  padding: 10px;
  background: black;
  color: #b09066;
  font-size: 1.1em;
  position: relative;
  font-weight: normal;
}

.slots .itemdescription {
 font-size: 0.9em;
}

.slots .effects {
 min-height: 5em;
 line-height: 1.2em;
}

.itemdescription .icon {
  padding: 8px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0;
  top: 0;
}

.itemdescription .desc {
  padding-top: 0.3em;
  padding-left: 3em;
  line-height: 2em;
  position: relative;
}

.itemdescription .title {
  font-family: "Book Antiqua", Georgia, serif;
  position: relative;
  margin-left: 2em;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.itemdescription .uncommon {
  color: #0F0;
}

.itemdescription .rare {
  color: #00E7E7;
}

.itemdescription .less-epic {
  color: #D0D;
}

.itemdescription .epic {
  color: #F0F;
}

.itemdescription .legendary {
  color: yellow;
}

.itemdescription .effects {
  margin-top: 2em;
  color: #ffff00;
}

.itemdescription #keywords {
    padding-top: 0.4em;
    border-top: solid 1px #b09066;
    margin-top: 0.6em;
}

.itemdescription #keywords ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline;
}

.itemdescription #keywords ul li {
    display: inline;
    padding-left: 0.3em;
    padding-right: 0.3em;
    color: #fff;
}

.itemdescription #sellers {
    padding-top: 0.4em;
    border-top: solid 1px #b09066;
    margin-top: 0.6em;
}

.itemdescription #sellers ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline;
}

.itemdescription #sellerss ul li {
    display: inline;
    padding-left: 0.3em;
    padding-right: 0.3em;
    color: #f66;
}

.itemdescription .footer {
  margin-top: 1em;
  position: relative;
}

.itemdescription .value {
  left: 0;
}

.itemdescription .stack {
  position: absolute;
  right: 0;
  top: 0;
}

.itemdescription .highlight {
  color: #00ffff;
}


#matching-items {
    padding: 0;
    margin: 0;
}

#matching-items ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#matching-items ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

tr.odd .beta-column {
  background-color: #ecc
}

tr.even .beta-column {
  background-color: #fdd
}


.ge-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 50px;
  color: #99979c;
  text-align:center;
  background-color: #2a2730
}

.ge-footer a {
  color:#fff
}

.ge-footer-links{
  padding-left:0;margin-bottom:20px}

.ge-footer-links li {
  display:inline-block
}

.ge-footer-links li+li {
  margin-left:15px
}

@media (min-width:768px) {
  .ge-footer { text-align: left }
  .ge-footer p { margin-bottom: 0 }
}

a.navbar-brand {
  font-weight: bold;
  color: #fff;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


.skill-table .reward-name {
}

.skill-table .reward-name .automatic {
    color: #393;
}

.skill-table thead .reward-name {
    color: black;
}

.soldbymerchant {
    color: #393;
}

.soldbymerchant:hover {
    color: #262;
}

.last-update {
    float:right;
    color: white;
    font-size: 0.9em;
    font-style: italic;
    margin-right: 4em;
    margin-top: 2em;
}

tfoot {
    display: table-row-group;
}

tfoot input {
    width: 100%;
}

td img.loading {
    margin-bottom: 2px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.8);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.8);
}

.container-fluid {
    margin-right: 5%;
    margin-left: 5%;
}

.slots .row {
    padding-top: 1em;
}
.slots select {
    max-width: 90%;
    clear: both;
    display: block;
}
.skills select {
    max-width: 20%;
}

.col-center{
  margin:0 auto;
}